/* Puedes agregar esto a tu archivo CSS si no existe */
.bg-yellow-200 {
    background-color: #fefcbf; /* Cambia esto al color que prefieras */
  }
  /* Resalta los campos modificados */
.input-modified {
  border-color: #f59e0b; /* Color de borde, puede ser cualquier color que prefieras */
  background-color: #fff7ed; /* Fondo ligeramente diferente */
}
